bin/*
build/*
*.o
*.elf
*.bin
*.d

configs/*
!configs/Makefile
!configs/linker.ld 
!configs/example/

BaoHypervisor.cflags
BaoHypervisor.config
BaoHypervisor.creator
BaoHypervisor.creator.user
BaoHypervisor.cxxflags
BaoHypervisor.files
BaoHypervisor.includes
